<style type="text/css">

body{
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 400px;
  max-width: 450px;
  padding: 40px;
}

/*#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
}*/

</style>

<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="page-header">
          <h3><font color="white">Backs ERP Cloud</font></h3>
        </div>
        <form id="loginForm" ng-submit="submit()">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" ng-model="login_email" name="text" placeholder="Email"/>          
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" ng-model="login_pw" name="pw" placeholder="Password"/>     
          </div>
          <div class="form-group">
            <input type="submit" id="submit" class="btn btn-def btn-block" value="Login" />
          </div>
        </form>
        <p><font color="red">{{loginError}}</font></p>      
      </div>  
    </div>    
  </div>
</div>