<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Wilkommen bei Backs!</h1>
        <p>Das Unternehmen „Backs“ stellt eine Großbäckerei dar, welche Backwaren in großen Mengen via Online-Shop an Einzelhändler verkauft. Die Produkte werden dabei in der Fabrik vorgefertigt und an die Kunden von einem Logistikpartner geliefert. Abnehmer sind vor allem Bäckereien sowie Einzelhändler mit Selbstbedienungsregalen. Diese backen die vorgefertigten Produkte für den Endkunden frisch auf.</p>
        <p></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      

      <hr>

      <footer>
        <p>&copy; Backs 2017</p>
      </footer>
    </div> <!-- /container -->

